@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Mulmaru";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/Mulmaru.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mulmaru", Arial, Helvetica, sans-serif;
}

main {
  background-image: url("../../public/assets/backgrounds/main-bg.png");
}

h1.title {
  font-size: 40px;
  /* color: transparent; */
  color: #0a0a0a;
  /* background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  background-clip: text;
  -webkit-background-clip: text;
  /* text-shadow:
    3px 3px 0px black,
    -3px -3px 0px black,
    -3px 3px 0px black,
    3px -3px 0px black,
    3px 0px 0px black; */
  /* filter:
    drop-shadow(3px 3px 0px black), drop-shadow(-3px -3px 0px black),
    drop-shadow(-3px 3px 0px black), drop-shadow(3px -3px 0px black),
    drop-shadow(3px 0px 0px black); */
}

input.pixel-ui {
  border: 0;
  box-shadow:
    0px 4px #555,
    0px -4px #555,
    4px 0px #555,
    -4px 0px #555,
    0px 8px #0000001d,
    4px 4px #0000001d,
    -4px 4px #0000001d,
    inset 0px 4px #bdbdbd60;
  margin-bottom: 16px;
  outline: none;
}
button.pixel-ui {
  color: #fff;
  letter-spacing: 1px;
  /* background-color: #6abc3a; */
  padding: 12px 40px 12px 40px;
  /* font-size: 14px; */
  border: 0;
  box-shadow:
    0px 4px black,
    0px -4px black,
    4px 0px black,
    -4px 0px black,
    0px 8px #00000038,
    4px 4px #00000038,
    -4px 4px #00000038,
    inset 0px 4px #ffffff36;
  cursor: pointer;
}
button.pixel-ui:active {
  transform: translateY(4px);
  box-shadow:
    0px 4px black,
    0px -4px black,
    4px 0px black,
    -4px 0px black,
    inset 0px 4px #00000038;
}
