@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Mulmaru";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/Mulmaru.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mulmaru", Arial, Helvetica, sans-serif;
}

main {
  background-image: url("../../public/assets/backgrounds/main-bg.png");
}

input.pixel-ui {
  border: 0;
  box-shadow:
    0px 5px #555,
    0px -5px #555,
    5px 0px #555,
    -5px 0px #555
      /* 0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff36; */;
  margin-bottom: 16px;
  outline: none;
}
button.pixel-ui {
  color: #fff;
  letter-spacing: 1px;
  /* background-color: #6abc3a; */
  padding: 15px 40px 15px 40px;
  font-size: 14px;
  border: 0;
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  cursor: pointer;
}
button.pixel-ui:active {
  transform: translateY(5px);
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    inset 0px 5px #00000038;
}
